<!--PreLoader-->
<app-loader *ngIf="busy"></app-loader>
<!--PreLoader Ends-->
<app-nav-bar></app-nav-bar>

<div class="product-section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center mt-50">
                <div class="section-title">
                    <h3><span class="orange-text">About</span> Us</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="containertext">
    <div class="circles"></div>
    <div class="details-container">
        <div class="avatar">
            <img src="../../assets/images/AttaPacket.jpg" class="img-fluid" alt="">
        </div>
        <div class="about">
            <div class="name">
                <p>
                    Hello There!
                </p>
                <h1>
                    Welcome to AyodhyaWasi ApnaAtta
                </h1>
            </div>
            <div class="about-content">
                <p>
                    Established in 1985 by the late visionary Mr. Ashok Kasaudhan, Ayodhyawasi Apna Atta has been a steadfast beacon of quality and
                    tradition in the realm of flour. Mr. Ashok Kasaudhan's unwavering commitment to preserving Ayodhya's culinary heritage became the
                    cornerstone of a brand that has endured the test of time. Today, as we pay homage to his indelible legacy, Ayodhyawasi
                    Apna Atta is on the cusp of an exhilarating new chapter, characterized by boundless energy and enthusiasm.
                </p>
                <p>
                   <br> 
                    <span class="spantext">Our Heritage:</span>
                    Rooted in the sacred soil of Ayodhya, our brand embodies the spirit and tradition of this ancient city. Ayodhya, known
                    for its cultural significance and historical importance, has inspired us to create a brand that reflects the purity and
                    authenticity of its legacy.
                    <br>
                    <span class="spantext">Quality Assurance:</span>
                    At Ayodhyawasi Apna Atta, quality is our foremost commitment. We source the finest grains, adhering to stringent
                    standards to ensure that every pack of atta is a testament to our dedication to excellence. Our state-of-the-art
                    processing facilities guarantee the preservation of natural goodness, making our atta the perfect choice for your
                    family's nourishment.
                    <br>
                    <span class="spantext">Community Connection:</span>
                    Ayodhyawasi Apna Atta is more than just a brand; it's a community. We believe in fostering connections and celebrating
                    the shared love for traditional, wholesome food. Join us on a journey that brings people together, sharing the warmth
                    and richness of Ayodhya's culinary heritage.
                    <br>
                    <span class="spantext">Sustainable Practices:</span>
                    We are committed to sustainability and responsible sourcing. Our processes prioritize environmental consciousness,
                    ensuring that Ayodhyawasi Apna Atta contributes to a healthier planet while providing you with the finest quality flour.
                    <br>
                    <span class="spantext">Our Vision:</span>
                    Our vision is simple – to be the preferred choice for those who appreciate the authenticity of Ayodhya's culinary
                    legacy. Through Ayodhyawasi Apna Atta, we aim to bring the flavors of tradition to your table, fostering a sense of
                    community and nostalgia with every meal.
                    <br>
                    <span class="spantext">Join Us in the Journey:</span>
                    Embark on a flavorful journey with Ayodhyawasi Apna Atta. Let our atta be the foundation of your culinary creations,
                    connecting you to the heart of Ayodhya's culinary traditions. Trust us to deliver the best, and let Ayodhyawasi Apna
                    Atta be your companion in crafting moments of joy and togetherness at your dining table.
                </p>
            </div>
        </div>

    </div>
</div>


<app-about-info></app-about-info>