<app-loader *ngIf="busy"></app-loader>
<app-nav-bar></app-nav-bar>
<div class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center mt-50">
                <div class="section-title">
                    <h3><span class="orange-text">User</span> Order</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <p-table #dt [value]="myorderdata" styleClass="p-datatable-customers">
            <!-- <ng-template pTemplate="caption">
                <div class="table-header">
                    My Orders
                </div>
            </ng-template> -->
            <ng-template pTemplate="body" let-myorderdataobj>
                <tr class="p-selectable-row">
                    <td colspan="8">     
                        <div class="container">
                          <div class="customer_details">      
                                        <div class="orderCard">
                                          <div class="orderHead">
                                            <ul class="orderLeft">
                                              <li>
                                                <p>ORDER PLACED <span>12 March 2019</span></p>
                                              </li>
                                              <li>
                                                <p>TOTAL <span>$413.00</span></p>
                                              </li>                  
                                              <li>
                                                <p>SHIP TO <span class="customerName">Customer Name</span>
                                                  <span class="cstmrInfo">
                                                    <strong>Customer Name</strong> Lorem Ipsum is simply dummy text
                                                  </span>
                                                </p>
                                               
                                              </li>
                                            </ul>
                                            <div class="invoiceDetails">
                                              <p style="margin: 0 0 0 0;">OrderID: {{ myorderdataobj.orderid}} </p>
                                              <span style="display: grid;">
                                              <a style="color:#28479c;cursor: pointer">Order Details</a>
                                              <a style="color:#28479c;cursor: pointer ;" >Invoice</a>
                                          </span>
                                            </div>
                                          </div>
                                          <div *ngFor="let myorderitem of myorderdataobj['data'];let j=index" class="itemDetails">
                                            <p><strong>Status : </strong>{{myorderitem.status}}</p>
                                            <p>Package was handed to a receptionist</p>
                                            <p>Signed by: Priti.</p>
                                            <br>
                                            <div class="itemInfo">
                                              <div class="itemImg">
                                                <img src="{{myorderitem.productimgsrc}}" alt="">
                                              </div>
                                              <div class="itemDesc">
                                                <h4 (click)="openproductdetail( myorderitem.productname)">{{ myorderitem.productname}}</h4>
                                                <p class="pspan">Sold by: <span class="pspan">AyodhyaWasi Apna Store</span></p>
                                                <span class="pspan" style="display: flex;">MRP: <span class="pspan"><del>{{myorderitem.price}} </del> (Inclusive of all taxes)</span></span>
                                                <span class="pspan" style="display: flex;">Sell MRP: <span class="pspan">₹{{myorderitem.discountprice}} (Inclusive of all taxes)</span></span>
                                                <button class="buy_again">Buy it again</button>
                                              </div>
                                            </div>
  
                                          </div>
                                        </div>
                                    
                                     </div>
                                    </div>
                      </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">     
                        No customers found.
                    </td>
                </tr>
            </ng-template>
    </p-table>
</div>
<app-about-info></app-about-info>