
.orderTop {
    float: left;
    width: 100%;
    padding-bottom: 15px;
}
.orderCardWrap {
    float: left;
    width: 100%;
}
.orderCard {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
}
.orderCard span {
    display: block;
    padding: 0 !important;
    color: #5b5d5d !important;
}
.orderHead {
    display: flex;
    width: 100%;
    background: #ececec;
    padding: 10px 0 0 10px;
}
.orderCard .orderLeft {
    float: left;
    width: 70%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.orderLeft li {
    padding-left: 25px;
    position: relative;
}

@media screen and (max-width: 500px) {
    .orderLeft li {
        padding-left: 5px;
    
    }
    .itemImg img {
        aspect-ratio: .5 !important;
      }
    .pspan{
        font-size: 13px !important; 
    }
  }
  

.orderLeft li .customerName {
    color: #28479c !important;
    cursor: pointer;
}
.invoiceDetails {
    // float: right;
    // width: 30%;
    width: 50%;
    position: relative;
}
.invoiceDetails span {
    display: inline-block;
}

.cstmrInfo {
    background: #fff;
    width: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    border: 1px solid #ececec;
    display: none !important;
    -webkit-box-shadow: 0px 3px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 17px -10px rgba(0,0,0,0.75);
}
.cstmrInfo strong {
    display: block;
}
.orderCard .orderLeft li p {
  margin: 0;
  //padding-bottom: 10px;
}
.orderLeft li p:hover .cstmrInfo {
  display: block !important;
  padding: 10px !important;
}
.invioceModel{
  background: #fff;
    width: 200px;
    position: absolute;
    top: 60px;
    padding: 10px;
    left: 0;
    border: 1px solid #ececec;
    display: none;
    -webkit-box-shadow: 0px 3px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 17px -10px rgba(0,0,0,0.75);
}
.invioceModel ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.invioceModel ul li {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 4px 0;
}
.invioceModel ul li:last-child {
  border-bottom: 0;
}
.invioceModel span.modelClose {
    position: absolute;
    top: 4px;
    right: 7px;
    cursor: pointer;
}
.itemDetails {
    float: left;
    width: 100%;
    padding: 15px 10px;
}
.itemDetails h3 {
    font-size: 20px;
    font-weight: 700;
}
.itemDetails p {
    line-height: 20px;
    margin: 0;
}
.itemInfo {
    float: left;
    width: 100%;
}
.itemImg {
    float: left;
    width: 30%;
}
.itemImg img {
  width: 100%;
  aspect-ratio: 1.9;
}
.itemDesc {
    float: right;
    width: 65%;
}
.itemDesc p span {
    display: inline-block;
    color: #28479c !important;
}
.itemDesc h4 {
    font-size: 16px;
    color: #28479c;
    cursor: pointer;
}
.buy_again {
    display: block;
    background: #27479b;
    border: 1px solid transparent;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;    
    transition: 0.5s all;
}
.buy_again:hover {
  color: #27479b;
  border: 1px solid #27479b;
  background: #fff;
}

.ProgressBar {
    margin: 0 auto;
    padding: 2em 0 3em;
    list-style: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
      cursor: pointer;
  }
  
  .ProgressBar-step {
    text-align: center;
    position: relative;
    width: 100%;
  }
  .ProgressBar-step:before, .ProgressBar-step:after {
    content: "";
    height: 0.5em;
    background-color: #9F9FA3;
    position: absolute;
    z-index: 1;
    width: 100%;
    left: -50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .ProgressBar-step:first-child:before, .ProgressBar-step:first-child:after {
    display: none;
  }
  .ProgressBar-step:after {
    background-color: #7ED321;
    width: 0%;
  }
  .ProgressBar-step.is-complete + .ProgressBar-step.is-current:after, .ProgressBar-step.is-complete + .ProgressBar-step.is-complete:after {
    width: 100%;
  }
  
  .ProgressBar-icon {
    width: 1.5em;
    height: 1.5em;
    background-color: #9F9FA3;
    fill: #9F9FA3;
    border-radius: 50%;
    padding: 0.5em;
    max-width: 100%;
    z-index: 10;
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .is-current .ProgressBar-icon {
    fill: #FFF;
    background-color: #FFF;
      border: 3px solid #7ED321;
      transition: all .25s ease-out;
  }
  .is-complete .ProgressBar-icon {
    fill: #DBF1FF;
    background-color: #7ED321;
      transition: all .25s ease-out;
  }
  
  .ProgressBar-stepLabel {
    display: block;
    text-transform: uppercase;
    color: #9F9FA3;
    position: absolute;
    padding-top: 0.5em;
    width: 100%;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .is-current > .ProgressBar-stepLabel, .is-complete > .ProgressBar-stepLabel {
    color: #7ED321;
  }