<!-- main-navbar shadow-sm sticky-top -->
<div class="main-navbar shadow-sm" (click)="isNavbarOpen=false">
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 my-auto d-none d-sm-none d-md-block d-lg-block">
                    <a routerLink="/home">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="col-md-5 my-auto">
                    <form role="search">
                        <div class="input-group">
                            <!-- <input type="search" placeholder="Search your product" class="form-control" />
                            <button class="btn bg-white" type="submit">
                                <i class="pi pi-search"></i>
                            </button> -->
                            <p-autoComplete class="form-control "  inputStyleClass="custom-width"[suggestions]="filteredSuggestions" (onSelect)="onSuggestionSelect($event)" (completeMethod)="filterSuggestions($event)"
                                 [minLength]="1" placeholder="Search Your Products"></p-autoComplete>
                        </div>
                    </form>
                </div>
                <div class="col-md-5 my-auto">
                    <ul class="nav justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" (click)="opp.toggle($event)">
                                <i class="pi pi-book"></i> Products
                            </a>
                            <p-overlayPanel #opp>
                                <p-listbox [options]="producttype" (onChange)="selectProductType($event);opp.hide()">
                                    <ng-template let-item pTemplate="item">
                                        <!-- <i class="{{item.icon}}" style="padding-right: 10px "></i> -->
                                        {{item.label}}
                                    </ng-template>
                                </p-listbox>
                            </p-overlayPanel>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/product-cart">
                                <i class="pi pi-shopping-cart"></i> Cart ({{cartvalue == 0 ? '0' : cartvalue}})
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" (click)="loadgenerate()">
                                  Load Generate
                            </a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" (click)="opanneluserflag ? opanneluser.toggle($event):opannellogin.toggle($event);openloginform()" > 
                                <i class="pi pi-user" ></i> {{logedinuserinfo['username'] != "" ? logedinuserinfo['username'] : 'Profile'}}
                            </a>
                            <p-overlayPanel #opanneluser>
                               <p-listbox [options]="cities" (onClick)="selectUsermenu($event);opanneluser.hide()">
                                  <ng-template let-item pTemplate="item">
                                    <i class="{{item.icon}}" style="padding-right: 10px "></i> {{item.label}}
                                  </ng-template>
                                </p-listbox>
                            </p-overlayPanel>
                            <p-overlayPanel #opannellogin>
                                <div class="form">
                                  <form class="login-form" [formGroup]="loginform" *ngIf="isloginform">
                                    <i class="pi pi-user"></i>
                                    <br>
                                    <input type="text" formControlName="mobileno" class="user-input" (click)="mobileflag=true;emailflag=false;" placeholder="User Mobile Number" maxlength="10">
                                    <div *ngIf="mobileflag" >
                                        <div *ngIf="loginform.controls['mobileno'].hasError('pattern')" class="alert alert-danger">Mobile Number must be 10 digits long.</div>
                                    </div>
                                    <div style="padding-bottom: 5px;">OR</div>
                                    <input type="text" formControlName="emailid" (click)="mobileflag=false;emailflag=true;" class="user-input" placeholder="User Email Id">
                                    <div *ngIf="emailflag">
                                        <div *ngIf="loginform.controls['emailid'].hasError('email')"  class="alert alert-danger">Please enter a valid email address.</div>
                                    </div>
                                    <div class="options-01">
                                      <label class="remember-me"><input type="checkbox">Remember me</label>
                                      <br>
                                      <a >Forgot your username?</a>
                                    </div>
                                    <input class="btn" name="" value="LOGIN" (click)="login()">
                                    <div *ngIf="invaliduser" class="alertpadding">
                                        <div  class="alert alert-danger alertpadding">Invalid User,Please Register User</div>
                                    </div>
                                    <div class="options-02">
                                      <p>Not Registered? <a (click)="opensignform();invaliduser =false;mobileflag=false;emailflag=false;existinguserflag =false;">Create an Account</a></p>
                                    </div>
                                  </form>
                                  <!--login form end-->
                                  <!--signup form start-->
                                  <form class="signup-form" [formGroup]="signinform" *ngIf="issigninform">
                                    <i class="pi pi-user"></i>
                                    <br>
                                    <input class="user-input" type="text" formControlName="username" (click)="usernameflag =true;mobileflag=false;emailflag=false;" placeholder="User Name">
                                    <div *ngIf="usernameflag">
                                        <div *ngIf="signinform.controls['username'].hasError('required')" class="alert alert-danger">Username is required.</div>
                                    </div>
                                    <input class="user-input" type="text" formControlName="emailid" (click)="mobileflag=false;emailflag=true;usernameflag =false" placeholder="User Email Id">
                                    <div *ngIf="emailflag">
                                        <div *ngIf="signinform.controls['emailid'].hasError('required')" class="alert alert-danger">Email Address is required.</div>
                                        <div *ngIf="signinform.controls['emailid'].hasError('email')" class="alert alert-danger">Please enter a valid email address.</div>
                                    </div>
                                    <input type="text" formControlName="mobileno" id="mobileno" (click)="mobileflag=true;emailflag=false;usernameflag =false" class="user-input" placeholder="User Mobile Number">
                                    <div *ngIf="mobileflag" >
                                        <div *ngIf="signinform.controls['mobileno'].hasError('required')" class="alert alert-danger">Mobile Number is required.</div>
                                        <div *ngIf="signinform.controls['mobileno'].hasError('pattern')" class="alert alert-danger">Mobile Number must be 10 digits long.</div>
                                    </div>
                                    <input class="btn" name="" value="SIGN UP" (click)="adduser()">
                                    <div *ngIf="invaliduser" class="alertpadding">
                                        <div  class="alert alert-danger alertpadding">Something Went Wrong Please Try Again</div>
                                    </div>
                                    <div *ngIf="existinguserflag">
                                        <div  class="alert alert-danger">User Already Exists</div>
                                    </div>
                                    <div class="options-02">
                                      <p>Already Registered? <a (click)="openloginform();">Sign In</a></p>
                                    </div>
                                  </form> 
                                </div>
                             </p-overlayPanel> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" >
        <div class="container-fluid">

            <a class="navbar-brand d-block d-sm-block d-md-none d-lg-none" routerLink="/home">
                <img src="assets/images/logo.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" (click)="toggleNavbar();$event.stopPropagation();$event.preventDefault();">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': isNavbarOpen }" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('All_Products')">All Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('newarrivals')">New Arrivals</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('flour')">Wheat Flour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('riceflour')">Rice Flour</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('besan')">Besan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('oil')">Oil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selectNavProductType('rice')">Rice</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/about']">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/gallary']">Gallary</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<p-toast key="nav_key" position="top-left"></p-toast>
