.main-img img {
    width: 75%;
    border: #777 solid 2px;
    border-radius: 4px;
    height: 50vh;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.imgs img {
    cursor: pointer;
    border-radius: 4px;
    border: #888 solid 1px;
    aspect-ratio: 1;
}


/* Fade in animation */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn var(--fade-time) ease-in 1 forwards;
}


/* Media Queries */

@media (max-width: 700px) {
    .imgs {
        grid-template-columns: repeat(2, 1fr);
    }
}
.loaderhome {
    filter: hue-rotate(0deg);
    background: linear-gradient(45deg, #0f8, #08f);
    animation: hue 10000ms infinite linear;
}