<app-loader *ngIf="busy"></app-loader>
<app-nav-bar></app-nav-bar>
<div class="product-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center mt-50">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Gallary</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-bottom: 5px">
    <div class="main-img" style="display: ruby-text;padding: 5px ">
        <img [src]="imageSrc" alt="Flour image" />
    </div>

    <div class="imgs">
        <img *ngFor="let imgsrc of imgserviceinfo" src="{{imgsrc['imgsrc']}}" (click)="slideImage(imgsrc['imgsrc'])" />
    </div>
</div>

<app-about-info></app-about-info>