<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">About us</h2>
                    <p>Welcome to Ayodhyawasi ApnaAtta Flour Mill, where tradition meets quality in every grain! Our
                        journey began with a
                        deep-rooted commitment to provide the finest flour products, reflecting the rich culinary
                        heritage of Ayodhya.
                        At Ayodhyawasi ApnaAtta Flour Mill, we invite you to experience the true taste of tradition.
                        Join us on a culinary
                        journey where every meal becomes a celebration of our rich heritage. Thank you for choosing
                        Ayodhyawasi ApnaAtta Flour
                        Mill.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Get in Touch</h2>
                    <ul>
                        <li>Akwara Narayanpur near durga temple Ayodhya</li>
                        <li>apnaattaflourmill@gmail.com</li>
                        <li>+91 7210800016</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box">
                    <h2 class="widget-title">Pages</h2>
                    <ul>
                        <li><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/product">Product</a></li>
                        <li><a routerLink="/gallary">Gallary</a></li>
                        <li><a routerLink="/about">About</a></li>
                        <!-- <li><a routerLink="/contact">Contact</a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Subscribe</h2>
                    <p>Subscribe to our mailing list to get the latest updates.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="pi pi-cloud-upload
"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

<!-- copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2024 - <a routerLink="/home">Ayodhyawasi ApnaAtta Flour Mill</a>, All
                    Rights
                    Reserved.<br>
                    Conceived and implemented By - <a href="https://www.linkedin.com/in/rohit-kasaudhan-6b5804138/" target="_blank">Rohit Kasaudhan</a>
                </p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-icons">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100006825227515" target="_blank"><i class="pi pi-facebook"></i></a></li>
                        <li><a href="https://wa.me/message/LMV4D2GX75CMO1" target="_blank"><i class="pi pi-whatsapp"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/rohit-kasaudhan-6b5804138/" target="_blank"><i class="pi pi-linkedin"></i></a></li>
                        <li><a href="https://t.me/kasaudhanrohit7" target="_blank"><i class="pi pi-telegram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>