<!-- header -->
<!--PreLoader-->
<!-- <app-loader></app-loader> -->

<app-nav-bar></app-nav-bar>
<!-- end header -->

<!-- search area -->
<!-- <div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="pi pi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end search area -->

<!-- hero area -->
<div class="hero-area hero-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        <!-- <p class="subtitle" style="color:#fff;">AyodhyaWasi ApnaAtta Flour<br> Nourishing Tradition,Flourishing Taste<br>0% Maida,100% Atta</p> -->
                        <h1 class="text-reveal">
                            <span >AyodhyaWasi ApnaAtta Flour<br> Nourishing Tradition,Flourishing Taste<br>0% Maida,100% Atta</span>
                            <span aria-hidden="true">AyodhyaWasi ApnaAtta Flour<br> Nourishing Tradition,Flourishing Taste<br>0% Maida,100% Atta</span>
                        </h1>
                        <h1 class="text-reveal">
                            <span>India's Leading Organic,EcoHarvest Atta Brand</span>
                            <span aria-hidden="true">India's Leading Organic,EcoHarvest Atta Brand</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end hero area -->
<div class="scene">
    <div class="background buildings"></div>
    <div class="background clouds"></div>
    <div class="road"></div>
    <img class="truck-icon" src="../../assets/images/deliverytruck.svg" alt="delivery trucjk" />
</div>
<!-- features list section -->
<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="pi pi-truck"></i>
                    </div>
                    <div class="content">
                        <h3>Free Shipping</h3>
                        <p>Indulge in the goodness of our products with free shipping, ensuring a seamless and cost-effective delivery to your
                        doorstep. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="pi pi-thumbs-up"></i>
                    </div>
                    <div class="content">
                        <h3>QUALITY GUARANTEE</h3>
                        <p>Our business is dedicated to an unwavering quality guarantee, ensuring the highest standards of purity,
                        consistency, and nutritional excellence in every product we deliver.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 mb-4 mb-lg-0">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="pi pi-megaphone"></i>
                    </div>
                    <div class="content">
                        <h3>DAILY OFFERS</h3>
                        <p>Experience daily freshness and savings with our exclusive offers on premium flours, bringing wholesome goodness to your
                        table every day.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="pi pi-slack"></i>
                    </div>
                    <div class="content">
                        <h3>100% SECURE PAYMENT</h3>
                        <p>Shop with confidence – enjoy 100% secure payment options for a worry-free flour shopping experience.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- end features list section -->
  
    
    <!-- <div class="description">
        <div class="cell">
            <p class="description-heading">Delivery</p>
        </div>
        <div class="cell">
            <p class="description-content">
                Between <strong>9am</strong> and <strong>9pm</strong>
            </p>
        </div>
    </div> -->



    <div class="dashboard">
    
        <div class="profile neo-box">
            <div>
                <img src="../../assets/images/morning.png" alt="hero" />
                <div><h1>Grand Welcome to AyodhyaWasis</h1>
                <h4>Explore the Flavorful World of Ayodhya with Apna Atta</h4>
                <div style="display: flex;justify-content: center;">
                <img class="callimg" src="../../assets/images/callorder.png" alt="hero" />
                <h4 style="padding-top: 35px;padding-left: 15px;">Order your premium-quality AyodhyaWasi products conveniently via phone with our <br><strong>'Order On Call'</strong> service.</h4>
                </div>
                <div style="display: flex;justify-content: center;">
                    <strong>Call us : +91 7210800016</strong>
                </div>
                </div>
            </div>
            
            <!-- <h2>Explore the Flavorful World of Ayodhya with Apna Atta</h2> -->
        </div>
    
    </div>

<!-- product section -->
<div class="product-section  loaderhome">
    <div class="container">
        <div class="row" >
            <div class="col-lg-8 offset-lg-2 text-center mt-50">
                <div class="section-title">
                    <h3><span class="orange-text">Our</span> Products</h3>
                    <p>Welcome to AyodhyaWasi ApnaAtta – Authenticity Unveiled
      
                    Discover the essence of true craftsmanship with AyodhyaWasi ApnaAtta, where tradition meets innovation. Our products
                    have been carefully crafted to bring to you a unique blend of heritage and modernity, ensuring a unique experience for
                    our customers.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bg">
                <div class="container">
              
                  <div class="row py-5">
                    <div class="col-md-12">
                      <div class="main-timeline">
                        <div class="timeline">
                          <a class="timeline-content">
                            <div class="timeline-icon">
                              <i class="pi pi-microchip-ai"></i>
                            </div>
                            <h3 class="title">Organic Flour</h3>
                            <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                            </p>
                          </a>
                        </div>
                        <div class="timeline">
                          <a class="timeline-content">
                            <div class="timeline-icon">
                              <i class="pi pi-microchip-ai"></i>
                            </div>
                            <h3 class="title">Organic Rice</h3>
                            <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                            </p>
                          </a>
                        </div>
                        <div class="timeline">
                          <a  class="timeline-content">
                            <div class="timeline-icon">
                              <i class="pi pi-microchip-ai"></i>
                            </div>
                            <h3 class="title">Organic Besan</h3>
                            <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                            </p>
                          </a>
                        </div>
                        <div class="timeline">
                          <a class="timeline-content">
                            <div class="timeline-icon">
                              <i class="pi pi-microchip-ai"></i>
                            </div>
                            <h3 class="title">Organic Sattu</h3>
                            <p class="description">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer males uada tellus lorem, et condimentum neque commodo
                            </p>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <!-- <a class="cart-btn" pTooltip="Add from cart" (click)="placeOrder()" >Place Order <i class="pi pi-truck"></i></a> -->
    </div>
</div>
<div *ngIf="cartvalue  !== 0" class="placebutton">
    <a class="cart-btn" (click)="placeOrder()">Place Your Order<i class="pi pi-shopping-cart" pBadge style="margin-left: 5px;" value="{{cartvalue == 0 ? '' : cartvalue}}"></i></a>
</div>
<div class="scene">
    <div class="background buildings"></div>
    <div class="background clouds"></div>
    <div class="road"></div>
    <img class="truck-icon" src="../../assets/images/deliverytruck.svg" alt="delivery trucjk" />
</div>


<!-- open why choose-->
    <div class="why_choose">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="why_choose_head">
                        <h1>W<span>HY CHOOSE </span>US?</h1>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 top">
                    <div class="text-down">
                        <img src="../../assets/images/quality.png"
                            alt="PN">
                        <div class="textbox">
                            <p class="details">Ayodhyawasi Apna Atta has a rich heritage deeply rooted in the traditional values of Ayodhya. Our commitment to quality
                            is unwavering, ensuring that you receive flour products that meet the highest standards...</p>
                            <!-- <p class="view-more"><a href="#"><button class="btn-success btn btn-sm">View More</button></a>
                            </p> -->
                            <p class="text" style="padding-top: 17%;">Heritage and Quality Assurance</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 top">
                    <div class="text-down">
                        <img src="../../assets/images/wheat.jpg"
                            alt="PN">
                        <div class="textbox">
                            <p class="details">We source only the finest grains to produce our atta. Our dedication to using premium quality wheat guarantees a
                            wholesome and nutritious end product that caters to your dietary requirements..</p>
                            <!-- <p class="view-more"><a href="#"><button class="btn-success btn btn-sm">View More</button></a>
                            </p> -->
                            <p class="text" style="padding-top: 17%;">Premium Quality Wheat</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 top">
                    <div class="text-down">
                        <img src="../../assets/images/nutretion.png"
                            alt="PN">
                        <div class="textbox">
                            <p class="details">Ayodhyawasi Apna Atta is crafted to preserve the essential nutrients present in the grains. Our milling process retains
                            the natural goodness of the grains, providing you with a flour that contributes to your overall health and well-being..</p>
                            <!-- <p class="view-more"><a href="#"><button class="btn-success btn btn-sm">View More</button></a>
                            </p> -->
                            <p class="text" style="padding-top: 14%;">Nutrient-Rich Flour</p>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 top">
                    <div class="text-down">
                        <img src="../../assets/images/chakki.png"
                            alt="PN">
                        <div class="textbox">
                            <p class="details">We adhere to time-tested milling techniques that have been passed down through generations. This ensures that our atta
                            maintains its authentic flavor and texture, delivering the familiar taste that has been cherished by Ayodhyawasis for
                            years...</p>
                            <!-- <p class="view-more"><a href="#"><button class="btn-success btn btn-sm">View More</button></a>
                            </p> -->
                            <p class="text" style="padding-top: 9%;">Traditional Milling Techniques</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 top">
                    <div class="text-down">
                        <img src="../../assets/images/packing.png"
                            alt="PN">
                        <div class="textbox">
                            <p class="details">We take quality seriously. Rigorous quality control measures are implemented at every stage of the production process,
                            from sourcing quality wheat to packaging the final product. This ensures that every pack of Ayodhyawasi Apna Atta meets
                            our high standards..</p>
                            <!-- <p class="view-more"><a href="#"><button class="btn-success btn btn-sm">View More</button></a>
                            </p> -->
                            <p class="text" style="padding-top: 9%;">Stringent Quality Control</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 top">
                    <div class="text-down">
                        <img src="../../assets/images/satisfy.png"
                            alt="PN">
                        <div class="textbox">
                            <p class="details">Our priority is your satisfaction. Ayodhyawasi Apna Atta strives to exceed customer expectations by delivering a product
                            that not only meets but surpasses the desired quality, taste, and nutritional standards...</p>
                            <!--<p class="view-more"><a href="#"><button class="btn-success btn btn-sm">View More</button></a> 
                            </p>-->
                            <p class="text" style="padding-top: 14%;">Customer Satisfaction</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- close why choose-->


    <div>
        <div class="why_choose_head">
            <h2>W<span>HAT CUSTOMER</span> SAYS</h2>
        </div>

    <p-carousel [value]="customerfeedback" [numVisible]="1" [numScroll]="1" [circular]="true"
        autoplayInterval="3000" [showIndicators]="false">
        <ng-template let-product pTemplate="item">
            <div class="product-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8 offset-lg-2 text-center mt-50">
                            <div class="section-title">
                                <h4>{{product.customer_name}}</h4>
                                <p>{{product.customer_msg}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
    </div>

<app-about-info></app-about-info>



